
.header {
  width: 100%; /* Full width */
  height: 50px;
  background-color: #ffffff;
  border-bottom:1px solid rgb(240, 240, 240);;
}

.header-container {
   display: flex;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 20px;
  background-color: #ffffff;
  padding: 1px 2px;
  border-radius: 4px; /* Rounded corners */
  border: 1px solid #d1d5db; /* Light gray border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  font-family: "Inter", sans-serif; /* Use the Inter font family */
  font-size: 12px; /* Font size for text */
}

.icon-box {
  font-size: 20px;
  padding: 0 5px;
}

.display-text {
  margin: 0 10px;
  font-weight: 500;
}

.dropdown-box {
  position: absolute;
  top: 60px; /* Adjust this based on your header height */
  left: 20px;
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 10px;
  z-index: 10;
  width: 250px;
}

.grouping,
.ordering {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

label {
  color: #6b7280;
  font-size: 14px;
  margin-right: 10px;
}

select {
  padding: 4px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #d1d5db;
}
